#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
#     jorge:sesamo
  expire: False

users:
  - name: romangonzales # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDSK0nr82HUQce902pNKUxzCYKlKWAmSjXqtke0Pd7fkJPV28zj7/d1NKF9rjp00341bQQvfGqk13EFTQ8tMMQ0BtN2kHph7UoMh8lyWIMWFq1qeTKfbv6iqBO6E1qe3mmh2dPOGkcs9OflD6srbgFQ6vi9bIyXdGRTUVdqCvDdNdiqvnIakB3gH3EpM6t2HrIuVP5kJFL3jEhdC3TFysf+ZJzVCtDe6pBh9rW1Uhcnu8ZULxDfIcADPTZdw2UVOZ11dg6DRxVEfl/KEKVLoLIxXc12eTkCzvMeX9u0AYfJy/QP3yNNouOsllzMDqHg0MQ9YydcVGdEdK8hYVKXflvZ roman@roman-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
